---
import { getCollection } from "astro:content";
import BlogPost from "../../components/BlogPost.astro";
import Layout from "../../layouts/Layout.astro";

const posts = await getCollection("blog");
---

<Layout title="Blog" description="Where I talk about stuff.">
  <section
    class="grid sm:grid-cols-1 sm:divide-y-2 md:grid-cols-2 md:divide-y-0 divide-secondary gap-8 py-8 max-w-7xl"
  >
    {
      posts.map((post) => (
        <a href={`blog/${post.slug}`}>
          <BlogPost {...post.data} />
        </a>
      ))
    }
  </section>
</Layout>
