---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jenryk">
  <div class="flex items-center h-full">
    <h1 class="text-text text-5xl font-heading font-bold">
      Hi, I'm João. <br />How can I help <b class="bg-primary">you</b> ?
    </h1>
    <div class="align-middle self-center w-1/2" style="transform: scaleY(1.75)">
      <LottieAnimation src="animations/waves.json" autoplay="visible" />
    </div>
  </div>
</Layout>
