---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Jenryk"
  description="Jenryk's personal website, blog and portfolio."
>
  <div
    class="gap-5 relative flex items-center my-auto w-full max-w-[875px] overflow-hidden"
  >
    <h1
      class="md:text-5xl w-full text-4xl sm:w-3/5 z-10 text-text font-heading font-bold text-center md:text-left"
    >
      Hi, I'm João. <br />How can I help <b
        class="bg-primary text-background px-3">you</b
      > ?
    </h1>
    <div
      class="sm:static sm:opacity-100 sm:w-2/5 absolute flex h-full opacity-50 w-full [&_*]:h-full [&_*]:w-full"
    >
      <LottieAnimation
        id="wave-animation"
        src="animations/waves.json"
        aspect-ratio="none"
      />
    </div>
  </div>
</Layout>

<script>
  document.addEventListener("astro:after-swap", () => {
    window.loadLottie("wave-animation");
  });
  window.loadLottie("wave-animation");
</script>
