---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Jenryk"
  description="Jenryk's personal website, blog and portfolio."
>
  <div class="flex items-center my-auto w-full max-w-5xl">
    <h1
      class="md:text-5xl sm:text-4xl w-1/2 z-10 text-text font-heading font-bold text-center md:text-left"
    >
      Hi, I'm João. <br />How can I help <b
        class="bg-primary text-background px-3">you</b
      > ?
    </h1>
    <div class="m-auto w-1/3 h-full [&_*]:h-full [&_*]:w-full">
      <LottieAnimation
        id="wave-animation"
        src="animations/waves.json"
        aspect-ratio="none"
      />
    </div>
  </div>
</Layout>

<script>
  document.addEventListener("astro:after-swap", () => {
    window.loadLottie("wave-animation");
  });
  window.loadLottie("wave-animation");
</script>
