---
import NavButton from "./NavButton.astro";
import ThemeToggler from "./ThemeToggler.astro";
import { Icon } from "astro-icon";
---

<header
  class="relative overflow-visible transition-all flex justify-around p-4 border-b-2 border-primary"
>
  <div
    transition:persist
    class="sm:static sm:p-0 z-10 absolute left-5 top-1 rounded-full bg-background p-2 flex justify-center"
  >
    <ThemeToggler />
  </div>

  <nav
    transition:persist
    class="sm:pointer-events-auto sm:flex-row sm:opacity-100 sm:max-h-64 z-10 pointer-events-none opacity-0 flex max-h-0 transition-all w-2/4 max-w-2xl flex-col justify-around gap-4"
  >
    <NavButton label="Home" link="/" />
    <NavButton label="Projects" link="/works" />
    <NavButton label="Blog" link="/blog" />
  </nav>
  <div
    id="navbar-toggle"
    class="sm:hidden z-10 text-primary cursor-pointer absolute left-auto -bottom-3 bg-background px-3"
  >
    <Icon size={20} name="mdi:hamburger-menu" />
  </div>
</header>

<script>
  const hiddenHeaderClass = "-mt-20";

  document.addEventListener("astro:page-load", () => {
    const navToggle = document.querySelector("#navbar-toggle");
    const main = document.querySelector("main");
    const header = document.querySelector("header");
    const navbar = header?.querySelector("nav");

    navToggle?.addEventListener("click", () => {
      const mobileNavbarClasses = [
        "opacity-0",
        "max-h-0",
        "max-h-64",
        "pointer-events-none",
      ];
      mobileNavbarClasses.forEach((cssClass) =>
        navbar?.classList.toggle(cssClass)
      );
    });

    let prevScroll = main?.scrollTop ?? 0;

    main?.addEventListener("scroll", () => {
      const currentScroll = main.scrollTop;
      if (currentScroll > prevScroll) {
        header?.classList.add(hiddenHeaderClass);
        const closedNavbarClasses = [
          "opacity-0",
          "max-h-0",
          "pointer-events-none",
        ];
        closedNavbarClasses.forEach((cssClass) =>
          navbar?.classList.add(cssClass)
        );
        navbar?.classList.remove("max-h-64");
      } else {
        header?.classList.remove(hiddenHeaderClass);
      }
      prevScroll = currentScroll;
    });
  });
</script>
